[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-cov = "*"
dask = "*"
numpy = "*"
azure-storage = "*"
toolz = "*"

[dev-packages]
ipython = "*"
pytest = "*"
pytest-runner = "*"
pytest-cov = "*"
sphinx = "*"
setuptools-scm = "*"

[requires]
python_version = "3.6"
